#entrada {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(/perro.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  #entrada {
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
      url(/perrocortado.jpg);
    background-size: cover;
    background-position: center;
  }
}

#header {
  height: 80px;
}

#navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 2rem;
}

#list_icon {
  cursor: pointer;
}
#menu_hamburguesa:checked + #ul_links {
  height: calc(100vh - 80px);
}
#menu_hamburguesa {
  display: none;
}
#ul_links {
  top: 80px;
  left: 0;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.9));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  #label_hamburguesa {
    display: none;
  }

  #ul_links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 1rem;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0));
  }

  #link {
    font-size: 1.2rem;
    transition: all 0.4s;
    padding: 0.2rem 0.7rem;
  }
  #link:hover {
    background-color: black;
  }
}

#fondo1 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(/b1.jpg);
  background-position: center;
  background-size: cover;
}

#fondo2 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(/b2.jpg);
  background-position: center;
  background-size: cover;
}

#fondo3 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(/b3.jpg);
  background-position: center;
  background-size: cover;
}

#botones {
  transition: all 0.3s;
}

#botones:hover {
  transform: scale(1.1);
  background-color: white;
  color: blue;
}

#botones:active {
  background-color: blueviolet;
}

#boton-slider {
  font-weight: bolder;
  color: rgb(41, 41, 119);
  transition: all 0.3s;
}

#boton-slider:hover {
  background-color: rgb(41, 41, 119);
  color: rgb(219, 186, 38);
  transform: scale(1.1);
}
